.docs-fontmenu div div {
    background-color: black;
    color: aqua !important;
}

.docs-fontmenu div {
    background-color: black;
}

.docs-fontmenu {
    background-color: black;
}

.goog-menuseparator {
    background-color: black;
    color: aqua !important;
}

.goog-menuitem {
    background-color: black !important;
}

.goog-menu-vertical {
    background-color: black !important;
}

.goog-menu-vertical div {
    color: aqua !important;
}

.goog-submenu-arrow {
    color: aqua !important;
}

.goog-menuitem-label {
    color: aqua !important;
}

.docs-icon {
    background-color: black;
    color: aqua !important;
}

#docs-toolbar-wrapper {
    background-color: black;
    color: aqua !important;
}

#docs-header {
    background-color: black;
    color: aqua !important;
}

#docs-titlebar * {
    background-color: black;
    color: aqua !important;
}

#docs-bars * {
    background-color: black;
    color: aqua !important;
}

#docs-branding-container * {
    background-color: black;
    color: aqua !important;
}
